RewriteEngine On

RewriteRule ^home$ /index.html [L]
RewriteRule ^terminal$ /frontend/pages/pythonTerminal.html [L]
RewriteRule ^login$ /frontend/pages/login.html [L]
RewriteRule ^about$ /frontend/pages/about.html [L]
RewriteRule ^practice$ /frontend/pages/practice.html [L]