RewriteEngine On
RewriteCond %{REQUEST_URI} !^/api/

Options -Indexes

RewriteRule ^home$ /index.html [L]
RewriteRule ^terminal$ /frontend/pages/terminal.html [L]
RewriteRule ^login$ /frontend/pages/login.html [L]
RewriteRule ^about$ /frontend/pages/about.html [L]
RewriteRule ^practice$ /frontend/pages/practice.html [L]
RewriteRule ^quiz$ /frontend/pages/quiz.html [L]
RewriteRule ^account$ /frontend/pages/account.html [L] 
RewriteRule ^create-account$ /frontend/pages/create.html [L]

ErrorDocument 404 /frontend/pages/404.html
RewriteRule ^404$ /frontend/pages/404.html [L]
