<div id="top-border"></div>

<div id="navbar">
  <div id="logo-container">
    <h2 id="logo-text">
      <a style="text-decoration: none; color: inherit;" href="javascript:delay('/home', 500)">
        &#128642;B<span id="logo-hide">oiler</span>T<span id="logo-hide">ech</span>T<span id="logo-hide">ests</span>
      </a>
    </h2>
  </div>

  <!-- spacer -->
  <div id="nav-spacer" style="flex: 1;"></div>

  <div id="link-container">
    <a href="/home" class="hoverable-text">home</a>
    <a href="/practice" class="hoverable-text">practice</a>
    <a href="/home" id="inactive-link">awards</a>
    <a href="/home" id="inactive-link">tutoring</a>
    <a href="/terminal" class="hoverable-text">code</a>
    <a href="/about" class="hoverable-text">about</a>

    <a href="/login" class="hoverable-svg">
      <img src="/frontend/images/account_circle.svg">
    </a>
  </div>

</div>

<div id="shadow"></div>

<div id="sidebar">
  <div id="toggle" onclick="show()">
    <span></span>
    <span style="margin-top: 0.25em;"></span>
    <span style="margin-top: 0.25em;"></span>
  </div>

  <div id="link-container">
    <div class="sidebar-text"><a class="underlineable" href="javascript:delay('/home', 500)">home</a></div>
    <div class="sidebar-text"><a class="underlineable" href="javascript:delay('/home', 500)">practice</a></div>
    <div class="sidebar-text"><a class="underlineable" href="javascript:delay('/home', 500)">awards</a></div>
    <div class="sidebar-text"><a class="underlineable" href="javascript:delay('/home', 500)">tutoring</a></div>
    <div class="sidebar-text"><a class="underlineable"
        href="javascript:delay('/terminal', 500)">terminal</a></div>
    <div class="sidebar-text"><a class="underlineable" href="javascript:delay('/about', 500)">about</a></div>

    <div id="logos">
      <a href="/login"><img src="/frontend/images/account_circle_white.svg"></a>
    </div>
  </div>
</div>