<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="../styles/navigation.css">
  <link rel="stylesheet" href="../styles/global.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">

  <title>TEMPLATE - BoilerTechTests</title>
</head>

<body>
  
  <div id="navbar-load"></div>

  <!-- ================================ MAIN CONTAINER FOR WEBSITE ================================ -->
  <div class="container">
    <!-- Include spacers wherever you deem necessary -->
    <!-- <div id="spacer"></div> -->

    <!-- ======== Always use sub-containers for the actual content to maintain proper spacing ======== -->
    <div class="sub-container">
      <div class="header-panel" style="margin-top: 0; margin-bottom: 0;"></div>
      <h2 class="fade-in">Header Text (that fades in)</h2>
      <p class="fade-in" style="--delay: 0.1s">omg subtext (with a delay)</p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs"
    crossorigin="anonymous"></script>
  <script src="/frontend/scripts/navigation.js"></script>

  <script>
		$("#navbar-load").load("/frontend/templates/navbar.html");
	</script>

</body>

</html>