#change-credentials {
  width: 50%;
}

#change-credentials input {
  /* width: 100%; */
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#new-credential-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* Basic styles for the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-left: 10px; /* Adjust as needed for spacing */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* Change background color when checked */
input:checked + .slider {
  background-color: #24409e; /* Change to your preferred color */
}

/* Move the slider when checked */
input:checked + .slider:before {
  transform: translateX(15px);
}

#response-message {
  color: #931b1b;
}
